<div class="container-fluid mt-5">
  <div class="text-center mt-2">
    <h2>{{ 'login.title' | translate }}</h2>
  </div>
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="form-group row mb-3 justify-content-center">
      <div class="col-8 col-xs-8 col-sm-8 col-md-6 col-lg-4">
        <label for="username">{{ 'common.username' | translate }}:</label>
        <input type="text" class="form-control" id="username" required [(ngModel)]="username" name="username">
      </div>
    </div>
    <div class="form-group row mb-3 justify-content-center">
      <div class="col-8 col-xs-8 col-sm-8 col-md-6 col-lg-4">
        <label for="password">{{ 'common.lbl-password' | translate }}:</label>
        <input type="password" class="form-control" id="password" required [(ngModel)]="password" name="password">
      </div>
    </div>

    @if (error) {
      <div class="text-center mb-3" style="color: red">{{ 'login.error' | translate }}</div>
    }

    <div class="text-center">
      <p-button type="submit" label="{{ 'login.submit' | translate }}" [disabled]="!loginForm.valid" size="small"></p-button>
    </div>
  </form>
</div>
