<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<form class="row g-3" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <h2>{{ 'shared.forms.course-form.title' | translate }}</h2>

  <div class="col-md-4">
    <label for="name" class="form-label">{{ 'shared.forms.course-form.course-name' | translate }}</label>
    <input type="text" class="form-control" id="name" formControlName="name">
    <div *ngIf="submitted && f.name.errors" style="color: red">
      Name ist erforderlich.
    </div>
  </div>

  <div class="col-md-2">
    <label for="abbreviation"
           class="form-label">{{ 'shared.forms.course-form.course-abbreviation' | translate }}</label>
    <input type="text" class="form-control" id="abbreviation" formControlName="abbreviation">
    <div *ngIf="submitted && f.abbreviation.errors" style="color: red">
      Abkürzung ist erforderlich.
    </div>
  </div>

  <div class="col-md-6">
    <label for="fileName" class="form-label">{{ 'shared.forms.course-form.file-name' | translate }}</label>
    <p-inputGroup id="fileName" class="w-full">
      <input type="text" pInputText placeholder="" formControlName="text1"/>
      <p-inputGroupAddon>_Nachname_</p-inputGroupAddon>
      <input type="text" pInputText placeholder="" formControlName="text2"/>
      <p-inputGroupAddon>Nr_</p-inputGroupAddon>
      <input type="text" pInputText placeholder="" formControlName="text3"/>
      <p-inputGroupAddon>.pdf</p-inputGroupAddon>
    </p-inputGroup>
    <div *ngIf="submitted && f.text1.errors" style="color: red">
      Erster Teil ist erforderlich.
    </div>
  </div>

  <div class="col-12 text-center">
    <p-button label="{{ 'common.btn-submit' | translate }}" size="small" type="submit"></p-button>
  </div>
</form>
