<h2>{{ 'home.adminHome.userList.title' | translate }}</h2>
<table class="table table-bordered table-responsive">
  <thead>
  <tr>
    @for (header of tableHeader; track header) {
      <th>{{ header }}</th>
    }
  </tr>
  </thead>
  <tbody>
    @for (user of users; track user.username) {
      <tr>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.role }}</td>
        <td class="text-center">
          <input class="form-check-input" type="checkbox" (click)="onActivityChange(user)"
                 [(ngModel)]="user.isActive">
        </td>
      </tr>
    }
  </tbody>
</table>
<div class="text-center">
  <p-button label="{{ 'common.btn-save' | translate }}" size="small"
            (click)="onActivitySave()"></p-button>
</div>
