<p-toast/>

<h3>{{ 'settings.change-pw.title' | translate }}</h3>

<form [formGroup]="passwordForm">
  <div class="row">
    <div class="col-lg-4">
      <div class="form-group">
        <label for="old-password">{{ 'settings.change-pw.old-pw' | translate }}</label>
        <input id="old-password" type="password" class="form-control" formControlName="oldPassword"/>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="form-group">
        <label for="new-password">{{ 'settings.change-pw.new-pw' | translate }}</label>
        <input id="new-password" type="password" class="form-control" formControlName="newPassword"/>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="form-group">
        <label for="confirm-password">{{ 'settings.change-pw.confirm-pw' | translate }}</label>
        <input id="confirm-password" type="password" class="form-control" formControlName="confirmPassword"/>
      </div>
    </div>
  </div>

  @for (error of errors; track error) {
    <small class="text-danger">{{ error }}</small>
  }

  <div class="mt-2 text-end">
    <p-button type="submit"
              label="{{ 'common.btn-submit' | translate }}"
              size="small"
              [disabled]="!passwordForm.valid"
              (onClick)="onSubmit()"/>
  </div>
</form>
