<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
@if (!displayLock) {
  <p-contextMenu [model]="contextMenuItems" [global]="true"></p-contextMenu>
}
<p-blockUI [blocked]="displayLock">
  <i class="pi pi-lock" style="font-size: 3rem"></i>
</p-blockUI>

<h3>{{ correction.assignment.name }} - {{ correction.student.firstName }} {{ correction.student.lastName }}
  | {{ totalPoints }}</h3>

<div class="d-flex mb-3 mt-5 mb-3">
  <p-toggleButton class="me-2"
                  (onChange)="expenseToString()"
                  [(ngModel)]="expenseNotSet"
                  onLabel="{{'course.evaluateView.expenseNotSet' | translate}}"
                  offLabel="{{'course.evaluateView.expenseSet' | translate}}"/>
  <p-floatLabel>
    <input id="hour" type="number" pInputText (change)="expenseToString()" [disabled]="expenseNotSet"
           [(ngModel)]="expenseElement.hour" min="0"
           max="120"/>
    <label for="hour">{{'course.evaluateView.hours' | translate}}</label>
  </p-floatLabel>
  <p-floatLabel>
    <input id="minute" type="number" pInputText (change)="expenseToString()" [disabled]="expenseNotSet"
           [(ngModel)]="expenseElement.minute"
           min="0"
           max="59"/>
    <label for="minute">{{'course.evaluateView.minutes' | translate}}</label>
  </p-floatLabel>
</div>

<h4>{{ 'course.evaluateView.annotations' | translate }}</h4>

<ms-evaluate-table [tableData]="correction.draft.annotations"
                   [defaultPoints]="0"
                   [readOnly]="readOnly"
                   (totalPoints)="updateAnnotationPoints($event)">
</ms-evaluate-table>

@for (exercise of correction.draft.exercise; track exercise.name) {
  <h4> {{ exercise.name }} | ({{ currentExercisePoints(exercise.name) }} / {{ getTotalExercisePoints(exercise.name) }}
    ) </h4>

  @for (sub_exercise of exercise.sub; track sub_exercise.name) {
    <h6> {{ sub_exercise.name }} | ({{ pointsDistribution[exercise.name][sub_exercise.name] }}
      / {{ sub_exercise.points }})</h6>
    <ms-evaluate-table [tableData]="sub_exercise.notes"
                       [defaultPoints]="sub_exercise.points"
                       [readOnly]="readOnly"
                       (totalPoints)="updateSubExercisePoints($event, sub_exercise.name, exercise.name)">
    </ms-evaluate-table>
  }
}
