<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarToggler">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">
            <i class="pi pi-home"></i>
            {{ 'header.btn-home' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/todo"
             routerLinkActive="active">
            <i class="pi pi-shield"></i>
            {{ 'header.btn-plagscan' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/settings"
             routerLinkActive="active">
            <i class="pi pi-cog"></i>
            {{ 'header.btn-settings' | translate }}
          </a>
        </li>
      </ul>
    </div>

    <div class="d-flex">
      <p-button label="{{ 'header.btn-logout' | translate }}" [outlined]="toggleButton"
                (mouseenter)="toggleButton = false" (mouseleave)="toggleButton = true"
                (click)="onLogoutBtnClick()" size="small"></p-button>
    </div>
  </div>
</nav>
