@layer bootstrap-reboot, primeng;

@import "jsoneditor/dist/jsoneditor.min.css";

@import "bootstrap/dist/css/bootstrap.min.css" layer(bootstrap-reboot);
@import "bootstrap/dist/css/bootstrap-reboot.css" layer(bootstrap-reboot);

@import "primeng/resources/themes/lara-light-blue/theme.css" layer(primeng);
@import "primeng/resources/primeng.min.css" layer(primeng);
@import "primeicons/primeicons.css" layer(primeng);
